.tituloGeral {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 2.3em;
    color: #F7931E;
}

@media screen and (max-width: 480px) {
    .tituloGeral {
        margin-top: 60px;
        margin-bottom: 5px;
    }
}