.container {
    width: 525px;
    position: relative;
}

.container .title {
    display: flex;
    align-items: center;
    

    text-transform: uppercase;
}

.container .title h5 {
    font-size: 26px;
    margin-left: 20px;
}

.container .info {
    margin-left: 60px;
    margin-top: 40px;
}

.container li {
    list-style: none;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
}

.container li img {
    /* border: 2px solid red; */
    width: 1.8em;
    object-fit: contain;
}

.container .info li p {
    margin-left: 20px;
    font-size: 1.3em;
}

@media screen and (max-width: 480px) {
    .container {
        width: 330px;
        margin: auto;
    }

    .container .title h5 {
        font-size: 20px;
        margin-left: 15px;
    }

    .container .info {
        margin-left: 20px;
        margin-top: 20px;
    }

    .container .info li p {
        margin-left: 15px;
        font-size: 1.1em;
    }

    .container ul {
        width: 300px;
    }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
    .container {
        width: 400px;
        margin: auto;
    }

    .container .title h5 {
        font-size: 20px;
        margin-left: 15px;
    }

    .container .info {
        margin-left: 20px;
        margin-top: 20px;
    }

    .container .info li p {
        margin-left: 15px;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 801px) and (max-width: 1300px) {
    .container .title h5 {
        font-size: 20px;
        margin-left: 15px;
    }

    .container .info {
        margin-left: 20px;
        margin-top: 20px;
    }

    .container .info li p {
        margin-left: 15px;
        font-size: 1.1em;
    }

    .container {
        width: auto;
    }
}